## Primero importamos la librería de pandas

In [2]:
import pandas as pd

In [7]:
data = pd.read_csv('sample_data/20201024_curso.csv', sep=";  ")

In [8]:
data.head()

                          Nombre  Edad       Tr@bajo  ...   V2016    V2017    V2018
0     ketty-elvira/niño-calderon    58    management  ...  22.483  490.004  669.895
1    yanira-pilar/garcia-barreto    44    technician  ...  52.225  361.837  245.154
2   milton-marina/hernandez-vega    33  entrepreneur  ...  90.924  903.292  166.285
3     rocio-constanza/mora-lopez    47   blue-collar  ...   2.681  823.176   13.273
4  yeimi-constanza/arenas-torres    33           NaN  ...  68.063  552.045  123.810

[5 rows x 18 columns]

Vamos a comenzar a analizar

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12093 entries, 0 to 12092
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Nombre                        12093 non-null  object
 1   Edad                          12093 non-null  int64
 2   Tr@bajo                       11994 non-null  object
 3   Trabajo                       11994 non-null  object
 4   Estado_Civil                  12093 non-null  object
 5   Nivel_escolaridad             12093 non-null  object
 6   Nivel_escolaridad.1           12093 non-null  object
 7   Tiene_Credito?                12093 non-null  object
 8   Medio_de_Comunicación         12093 non-null  object
 9   Duracion_ultimo_contacto_seg  12093 non-null  int64
 10  Order_D4te                    12093 non-null  object
 11  envio23$%3                    12093 non-null  object
 12  Segment                       12093 non-null  object
 13  Categ                         12093 non-null  object
 14  SubCat                        12093 non-null  object
 15  V2016                         12093 non-null  float64
 16  V2017                         12093 non-null  float64
 17  V2018                         12093 non-null  float64
dtypes: float64(3), int64(2), object(13)
memory usage: 1.7+ MB

In [10]:
data.describe()

               Edad  Duracion_ultimo_contacto_seg  ...         V2017         V2018
count  12093.000000                  12093.000000  ...  12093.000000  12093.000000
mean      36.774332                    209.865956  ...    494.921256    503.029002
std       14.144244                    239.459645  ...    289.794717    289.869014
min        2.000000                      1.000000  ...      1.054000      1.091000
25%       31.000000                     57.000000  ...    243.326000    250.078000
50%       38.000000                    146.000000  ...    487.681000    504.459000
75%       46.000000                    267.000000  ...    749.219000    755.359000
max       61.000000                   3881.000000  ...    999.510000    999.576000

[8 rows x 5 columns]

In [11]:
data.shape

(12093, 18)

In [12]:
data.shape[0]

12093

In [13]:
data.shape[1]

18

In [14]:
data.isna().sum()

Nombre                           0
Edad                             0
Tr@bajo                         99
Trabajo                         99
Estado_Civil                     0
Nivel_escolaridad                0
Nivel_escolaridad.1              0
Tiene_Credito?                   0
Medio_de_Comunicación            0
Duracion_ultimo_contacto_seg     0
Order_D4te                       0
envio23$%3                       0
Segment                          0
Categ                            0
SubCat                           0
V2016                            0
V2017                            0
V2018                            0
dtype: int64

In [15]:
data.head()

                          Nombre  Edad       Tr@bajo  ...   V2016    V2017    V2018
0     ketty-elvira/niño-calderon    58    management  ...  22.483  490.004  669.895
1    yanira-pilar/garcia-barreto    44    technician  ...  52.225  361.837  245.154
2   milton-marina/hernandez-vega    33  entrepreneur  ...  90.924  903.292  166.285
3     rocio-constanza/mora-lopez    47   blue-collar  ...   2.681  823.176   13.273
4  yeimi-constanza/arenas-torres    33           NaN  ...  68.063  552.045  123.810

[5 rows x 18 columns]

In [16]:

data.columns

Index(['Nombre', 'Edad', 'Tr@bajo', 'Trabajo', 'Estado_Civil',
       'Nivel_escolaridad', 'Nivel_escolaridad.1', 'Tiene_Credito?',
       'Medio_de_Comunicación', 'Duracion_ultimo_contacto_seg', 'Order_D4te',
       'envio23$%3', 'Segment', 'Categ', 'SubCat', 'V2016', 'V2017', 'V2018'],
      dtype='object')

In [18]:
data.Trabajo.unique()

array(['management', 'technician', 'entrepreneur', 'blue-collar', nan,
       'retired', 'admin.', 'services', 'self-employed', 'unemployed',
       'housemaid', 'student'], dtype=object)

In [19]:
data.Trabajo.value_counts()

blue-collar      3751
management       1820
technician       1744
admin.           1413
services         1322
retired           449
entrepreneur      423
self-employed     361
housemaid         317
unemployed        282
student           112
Name: Trabajo, dtype: int64

In [20]:
data.Trabajo.value_counts().sort_index()

admin.           1413
blue-collar      3751
entrepreneur      423
housemaid         317
management       1820
retired           449
self-employed     361
services         1322
student           112
technician       1744
unemployed        282
Name: Trabajo, dtype: int64

In [24]:
data.Trabajo.value_counts(normalize=True).sort_index()*100

admin.           11.780890
blue-collar      31.273970
entrepreneur      3.526763
housemaid         2.642988
management       15.174254
retired           3.743538
self-employed     3.009838
services         11.022178
student           0.933800
technician       14.540604
unemployed        2.351176
Name: Trabajo, dtype: float64

In [26]:
data.Trabajo.value_counts(dropna=False).sort_index()

admin.           1413
blue-collar      3751
entrepreneur      423
housemaid         317
management       1820
retired           449
self-employed     361
services         1322
student           112
technician       1744
unemployed        282
NaN                99
Name: Trabajo, dtype: int64

In [28]:
data.Trabajo.nunique()

11

# Hasta acá exploramos el dataset con estos métodos de python

* df.head()
* df.tail()
* df.info()
* df.describe()
* df.columns
* df.unique()
* df.nunique()
* df.info
* df.describe()
* df.value_counts()

In [30]:
data.isnull().any()

Nombre                          False
Edad                            False
Tr@bajo                          True
Trabajo                          True
Estado_Civil                    False
Nivel_escolaridad               False
Nivel_escolaridad.1             False
Tiene_Credito?                  False
Medio_de_Comunicación           False
Duracion_ultimo_contacto_seg    False
Order_D4te                      False
envio23$%3                      False
Segment                         False
Categ                           False
SubCat                          False
V2016                           False
V2017                           False
V2018                           False
dtype: bool

# Ahora vamos a limpiar el dataset

In [31]:
data = data.dropna()

In [32]:
data.isna().sum()

Nombre                          0
Edad                            0
Tr@bajo                         0
Trabajo                         0
Estado_Civil                    0
Nivel_escolaridad               0
Nivel_escolaridad.1             0
Tiene_Credito?                  0
Medio_de_Comunicación           0
Duracion_ultimo_contacto_seg    0
Order_D4te                      0
envio23$%3                      0
Segment                         0
Categ                           0
SubCat                          0
V2016                           0
V2017                           0
V2018                           0
dtype: int64

In [33]:
data.Medio_de_Comunicación.unique()

array(['unknown'], dtype=object)

In [34]:
data.shape

(11994, 18)

data.loc[filas,columnas]

In [36]:
#todois los regisdtros de la segunta columna
data.loc[1,:]

Nombre                          yanira-pilar/garcia-barreto
Edad                                                     44
Tr@bajo                                          technician
Trabajo                                          technician
Estado_Civil                                         single
Nivel_escolaridad                                 secondary
Nivel_escolaridad.1                               secondary
Tiene_Credito?                                           no
Medio_de_Comunicación                               unknown
Duracion_ultimo_contacto_seg                            151
Order_D4te                                         25/03/18
envio23$%3                                     Express_Aire
Segment                                         Corporativo
Categ                                               Muebles
SubCat                               Lapiceros_y_Marcadores
V2016                                                52.225
V2017                                               361.837
V2018                                               245.154
Name: 1, dtype: object

# Sección nueva

In [38]:
data.loc[:,['Trabajo']]

            Trabajo
0        management
1        technician
2      entrepreneur
3       blue-collar
5        management
...             ...
12088        admin.
12089    technician
12090    technician
12091    technician
12092    management

[11994 rows x 1 columns]

# Sección nueva

In [39]:
data.loc[:,['Trabajo','Medio_de_Comunicación']]

            Trabajo Medio_de_Comunicación
0        management               unknown
1        technician               unknown
2      entrepreneur               unknown
3       blue-collar               unknown
5        management               unknown
...             ...                   ...
12088        admin.               unknown
12089    technician               unknown
12090    technician               unknown
12091    technician               unknown
12092    management               unknown

[11994 rows x 2 columns]

In [40]:
borrar=data.loc[:,['Trabajo','Medio_de_Comunicación','Nivel_escolaridad.1']]

In [41]:
data = data.drop(borrar,axis=1).copy()

In [42]:
data.columns

Index(['Nombre', 'Edad', 'Tr@bajo', 'Estado_Civil', 'Nivel_escolaridad',
       'Tiene_Credito?', 'Duracion_ultimo_contacto_seg', 'Order_D4te',
       'envio23$%3', 'Segment', 'Categ', 'SubCat', 'V2016', 'V2017', 'V2018'],
      dtype='object')

In [43]:
data.shape

(11994, 15)

In [45]:
data['Trabajo']='blue-collar'

In [46]:
operarios=data[data['Trabajo']=='blue-collar']

In [47]:
operarios.shape

(11994, 16)