# PYTHON PROGRAMMING

In [11]:
# Format print statements
num = 12
name = 'Sam'

print('My number is {} and my name is {}'.format(num,name))
print('My number is {one} and my name is {two}, more {one}'.format(one = num, two = name))

My number is 12 and my name is Sam
My number is 12 and my name is Sam, more 12

# Dictionaries
Key value pairs  
Grab values by inputing the keys

In [22]:
# Create dictionary
d = {'key1':'value','key2':123}
print(d['key2'])

123

In [24]:
# Create dictionary containing a list
d = {'k1':[1,2,3]}

# Return list
print(d['k1'])

[1, 2, 3]

In [25]:
# Do indexing off the list
print(d['k1'][1])

2

# **Lists, Tuples, Sets**

**List**   
Sequence of characters in brackets separated by commas 
Grab items off that list using indexing

**Tuple**   
Similar to lists but uses parenthesis
Can grab items with indexing
Difference is that tuples are immuttable (can't mutate or change items inside)
Does not support item reassignment

**Set**  
Collection of unique elements
{1, 2, 3}

# If, Elif, Else Commands

In [26]:
# If else statements
if 1==2:
    print('First')
elif 4==4:
    print('Second')
elif 3==3:
    print('Middle')
else: print('last')

Second

# For Loops

In [28]:
#Create for loop
seq = [1,2,3,4,5,]
for item in seq: # "item" temporary variable can be whatever you want it to be
    print(item) # for every element in here, perform this action

1
2
3
4
5

# **While Loops**
Create while loop to continually perform an action until some condition has been met

In [29]:
i = 1

while i < 5: # while i is less than 5 perform this block of code
    print('i is: {}'.format(i))
    i = i +1

i is: 1
i is: 2
i is: 3
i is: 4

In [32]:
# Use range function to execute something a certain number of times
for x in range(0,5):
    print(x)

0
1
2
3
4

# List Comprehension

In [36]:
# For Loop
x = [1, 2, 3, 4]
out = []
for num in x:
    out.append(num**2)

print(out)

[1, 4, 9, 16]

In [38]:
# Translate for loop code above into list comprehension
out = [num**2 for num in x] 
print(out)

[1, 4, 9, 16]

# Creating Functions

In [39]:
def my_func(param1):
    print(param1)

In [40]:
my_func('hello')

hello

In [54]:
def my_func(name = 'Default name'):
    print('Hello '+ name)

In [52]:
my_func('Steph')

Hello Steph

In [55]:
my_func()

Hello Default name

In [58]:
def square(num):
    """
    THIS IS A DOCSTRING.
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER
    USE SHIFT + TAB TO VIEW.
    """
    return num**2

In [57]:
output = square(2)
print(output)

4

# Map Function

In [61]:
def times2(var):
    return var * 2

seq = [1,2,3,4,5]

list(map(times2,seq))

[2, 4, 6, 8, 10]

# Lambda Expressions (aka Anonymous Function)
Replicates struture but removes words we don't need
Instead of having to define an entire function formally, can just stick in lamnda function to simplify
Rewriting a function into a single line of clean code
Especially useful with within map functions

In [69]:
# Multiple each element in seq by 3
list(map(lambda num: num *num*3,seq))

[3, 12, 27, 48, 75]

# Filter Functions

In [72]:
# Filter only even numbers from seq
list(filter(lambda num: num%2 ==0, seq)) #pass it to list if you want the actual results back

[2, 4]

# Methods
Calls you can make off an objects
Tab will show you available methods

### Methods for Strings

In [88]:
s = 'hello my name is Sam'
s.lower()

'hello my name is sam'

In [78]:
s.upper()

'HELLO MY NAME IS SAM'

In [82]:
# Split string into list
tweet = 'Go Sports! #Sports'
tweet.split("#")

['Go Sports! ', 'Sports']

### **Methods for Dictionaries**

In [83]:
d = {'k1':1, 'k2':2}

In [84]:
d.keys()

dict_keys(['k1', 'k2'])

In [85]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [86]:
d.values()

dict_values([1, 2])

### Methods for Lists

In [93]:
lst = [1,2,3,4,5]

In [94]:
# Pop the last item off the list
item = lst.pop()
item

5

In [95]:
# Pop off item at a specific index
first = lst.pop(0)

In [98]:
lst

[2, 3, 4]

In [99]:
first

1

In [100]:
# Append new item to end of list
lst.append('new')

In [101]:
lst

[2, 3, 4, 'new']

### **In Operator**

In [102]:
'x' in [1,2,3]

False

In [103]:
'x' in ['x','y','z']

True

### **Tuple Unpacking**

In [104]:
# Create a list of tuples
x =[(1,2),(3,4),(5,6)]

In [109]:
# Original for loop. Alot of functions return a result in a format
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [112]:
# Unpack tuples inside of for loop
for a,b in x:
    print(a)

1
3
5

# **EXERCISES**

In [113]:
# What is 7 to the power of 4?
7**4

2401

In [114]:
# Split this string into a list
s = "Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

In [120]:
# Given the variables, print the following string: "The diameter of Earth is 12742 kilometers."
planet = "Earth"
diameter = 1274
print('The diameter of {one} is {two} kilometers'.format(one = planet, two = diameter))

The diameter of Earth is 1274 kilometers

In [122]:
# Given this nested list, use indexing to grab the word "hello"
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [125]:
# Create list of one element
lst[3][1][2]

['hello']

In [128]:
# Given this nest dictionary, grab the word "hello"
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [130]:
d.keys()

dict_keys(['k1'])

In [133]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [138]:
# Create function that grabs the email website domain from a string in the form user@domain.com.
def domainGet(email):
    """FUNCTION NAME (INPUT VARIABLES)"""
    return email.split('@')[1]

In [139]:
domainGet("users@domain.com")

'domain.com'

In [140]:
# Create a basic function that returns True if the word 'dog' is contained in the input string.
def findDog(s):
    return 'dog' in s.lower().split()

In [141]:
findDog("Is there a dog here?")

True

In [148]:
# Create function that counts the number of times the word "dog" occurs in a string.  
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word =='dog':
            count+= 1
    return count

In [149]:
countDog('This dog runs faster than the other dog dude!')

2

In [150]:
# Use lamda expressions and the filter function to filter out words from a list that doesn't start wit the letter 's'
seq = ['soup','dog','salad','cat','great']
list(filter(lambda word: word[0]=='s', seq))

['soup', 'salad']

In [157]:
# Write function to return one of 3 possible results: "No Ticket", "Small Ticket", "Big Ticket"
def caught_speeding(speed,is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
        
    if speeding > 80:
        return "Big Ticket"
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return'No Ticket'

In [158]:
caught_speeding(81,True)

'Small Ticket'